{% include 'links.html' %}
{% if session['role']=='customer'%}
{% include 'chead.html' %}
{% elif session['role']=='insurance company'%}
{% include 'ic_head.html'%}
{% elif session['role']=='hospital'%}
  {% include 'hospital_head.html'%}
{% elif session['role']=='admin'%}
  {% include 'ahead.html'%}
{% else%}
{% include 'head.html'%}
{% endif%}
<div class="admin-bgr">
    <h3 class="title text-center">Enrollments</h3>
    <div class="row1">
        
        {% for enrollment in enrollments %}
        {% set insurance_policy = get_insurance_policy_by_insurance_policy_id(enrollment['insurance_policy_id'])%}
        {% set insurance_company=get_insurance_company_name_by_insurance_companies_id(insurance_policy['insurance_companies_id']) %}
        {% set customer=get_customer_by_customer_id(enrollment['customer_id'])%}
        <div class="col-4">
            <div>
                <input type="hidden" name="insurance_policy_id" value="{{insurance_policy['_id']}}">
            </div>

            <div class="policy-card p-20 m-20">
                <div class="h2 text-center">{{insurance_policy['policy_name']}}</div>
                <div class="row1 mt-10 pl-10">
                    <div>Customer Name</div>
                </div>
                <div class="row1 mt-10 pl-10">
                    <div class="highlight">{{customer['name']}}</div>
                </div>

                <div class="row1 mt-10 pl-10">
                    <div class="col-6">Premium amount</div>
                    <div class="col-6"> Premium cycle in months</div>
                </div>

                <div class="row1 pl-10">
                    <div class="col-6 highlight">${{insurance_policy['premium_amount']}}</div>
                    <div class="col-6 highlight">{{insurance_policy['premium_cycle_in_months']}}</div>
                </div>

                <div class="row1 mt-10 pl-10">
                    <div class="col-6">Start Date</div>
                    <div class="col-6">Expiry Date</div>
                </div>

                <div class="row1 pl-10">
                    <div class="col-6 highlight">{{enrollment['start_date']}}</div>
                    <div class="col-6 highlight">{{enrollment['expire_date']}}</div>
                </div>

                <div class="row1 mt-10 pl-10">
                    <div class="col-6">Next Premium Date</div>
                    <div class="col-6">Status</div>
                </div>

                <div class="row1 pl-10">
                    <div class="col-6 highlight">{{enrollment['next_premium_date']}}</div>
                    <div class="col-6 highlight">{{enrollment['status']}}</div>
                </div>

                <div class="row1 pl-20">
                      {% if session['role'] == 'customer' %}
                    <a href="raise_claim?enrollment_id={{enrollment['_id']}}" class="btn btn-primary">Raise Claim</a>
                    {% endif %}
                        <a href="claim_request?enrollment_id={{enrollment['_id']}}" class="btn btn-secondary">Claim Requests</a>

                    <a href="/view_payments?enrollment_id={{enrollment['_id']}}" class="btn btn-primary">View Payments</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>











